/*CSS reset and variables*/
* {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    padding: 0;
}

:root {
    /*fuente logo*/
    --font-caveat: "Caveat", cursive;
    /*fuente titulos*/
    --font-carme: "Carme", sans-serif;
    /*fuente principal*/
    --font-open: "Open Sans", sans-serif;
    /*fuente sobre mi estilos html*/
    --font-coming: "Coming Soon", cursive;
    /*fuente de lineas*/
    --font-flow: "Flow Rounded", system-ui;
    --color-background: rgba(1, 4, 9, 1);
    --color-highlight-background: rgba(13, 17, 23, 1);
    --color-primary: rgba(230, 237, 243, 1);
    --color-highlight: rgba(163, 83, 253, 1);
    --color-secondary: rgba(243, 234, 244, 1);
    --color-pink: rgba(232, 48, 191, 1);
    --color-yellow: rgba(234, 221, 104, 1);
    --color-blue: rgba(96, 196, 202, 1);
    --color-green: rgba(11, 233, 0, 1);
    --color-salmon: rgba(243, 208, 197, 1);




}

body {
    height: 100%;
    width: 100%;
    min-height: 100dvh;
    background-color: var(--color-background);
    color: var(--color-primary);
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}


.divider {
    border: 0.5px solid var(--color-primary);
    width: 70vw;
    margin: 0 auto;
}

.span-text-purple {
    color: var(--color-highlight);
}

.span-text-rosa {
    color: var(--color-pink);
}

.span-text-amarillo {
    color: var(--color-yellow);
}

.span-text-verde {
    color: var(--color-green);
}

/*MENU AND RESPONSIVE BAR STYLES*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    max-width: 10rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin-top: 15px;
    gap: 3rem;
    width: max-content;
}

.nav-list li a {
    font-family: var(--font-carme);
    font-size: 18px;
    text-decoration: none;
    color: var(--color-primary);
    transition: color 0.1s ease-in-out;
}

.nav-list.link:hover {
    color: var(--color-highlight);

}

.open-menu,
.close-menu {
    display: none;
}

@media screen and (max-width:734px) {

    header {
        position: absolute;
        padding: 2rem;
    }

    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        color: var(--color-primary);
        cursor: pointer;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: fixed;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-highlight-background);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;

    }

    .nav-list.link {
        color: var(--color-primary);
    }
}

/*HERO STYLES*/

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero-container {
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.appear {
    opacity: 1;
}

.hero-title {
    font-size: 1.25rem;
    font-family: var(--font-carme);
    margin: 10px 0;
}

.hero-subtitle {
    font-size: 4rem;
    font-family: var(--font-carme);
}

.cite {
    font-style: italic;
    color: var(--color-secondary);
}

/*ABOUT ME SECTION*/

.h2-about {
    text-align: center;
    margin: 40px;
}

.container {
    background-color: var(--color-highlight-background);
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 15px;
}

.col-2 {
    font-family: var(--font-coming);
    text-align: right;
}


.col-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.img-cris-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;

}

.img-cris-img {
    border-radius: 45px;
    width: 100%;
    max-width: 250px;
}

.mail-link {
    text-decoration: none;
    color: var(--color-primary);
}

.box-contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row-contact {
    color: var(--color-highlight);
    background-color: var(--color-background);
    border-radius: 10px;
    border: none;
}

.row-contact {
    margin-bottom: 3px;
    width: fit-content;
    box-shadow: 0 0 5px rgba(68, 68, 68, 0.4);

}

.paraph {
    margin-bottom: 0;
}

.paraph a {
    text-decoration: none;
    color: var(--color-salmon);
}

.bi-clipboard2-fill {
    margin-left: 15px;
    cursor: pointer;
}

.bi-download {
    font-weight: 450;
}


/*BOTONES*/

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5px;

}

.contact-button {
    width: 100%;
    gap: 5px;
    max-width: 92px;

}

.contact-button {
    background-color: transparent;
    color: var(--color-salmon);
    border: none;
    border-radius: 1000;
    width: min-content;
    margin-top: 10px;
}

.container-email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.bi-clipboard {

    color: var(--color-salmon);
}

.col-2-body {
    color: var(--color-azul);
}

.col-2-h1 {
    color: var(--color-salmon);
}









/*ABOUT ME LINES COLOURS */

.col-2-body {
    color: var(--color-blue);
}

.col-2-h1 {
    color: var(--color-salmon);
}

.col-2-p {
    color: var(--color-yellow);
}

.col-2-footer {
    color: var(--color-green);
}

.col-10-line {
    display: flex;
    gap: 6px;
    align-items: center;
}

.color-bar {
    height: 5px;
    border-radius: 2px;
}

.color-bar-blue {
    background-color: var(--color-blue);
    width: 100px;
}

.color-bar-yellow {
    background-color: var(--color-yellow);
    width: 150px;
}

.color-bar-salmon {
    background-color: var(--color-salmon);
    width: 50px;
}

.color-bar-pink {
    background-color: var(--color-pink);
    width: 200px;
}

.color-bar-green {
    background-color: var(--color-green);
    width: 100px;
}